.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#nav-logo{
  float: left;
  padding-left: 45px;
  font-size: xx-large;
}

.movie-image{
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.movie-card{
  margin-left: 20%;
  margin-right: 20%;
  background-color: #b2dfdb ;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  border: #282c34;
  border-style: dashed;
  display: flex;
  max-height: 661px;
}

.movie-name{
  color: white;
}

.movie-info{
  float: left;
}

.movie-input{
  width: 300px;
}

.button{
  width: 50px;
  height: 50px;
}

.ticket-left{
  border: #000000;
  border-style: dashed;
  width: 306px;
  background-color: #276b6b;
  
}


.reviews{
  margin-left: 15px;
}

.review{
  background-color: rgb(120, 150, 231);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border-color: #000000;
  border-style: dashed;
  margin: 4px;
  float: left;
}


.movie-form{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}